<ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="loggedIn">
    <button ion-button color="default" [navPush]="LoginPage" (click)="logout()" block>Logout</button>
  </div>
  <div *ngIf="!loggedIn">
    <ion-list>

      <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input type="text" [(ngModel)]="username" value=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>

    </ion-list>
    <div padding>
      <button ion-button color="secondary" (click)="login()" block>Login</button>
    </div>
      
  </div>

</ion-content>
