<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="state.loggedIn">
    <p>You are currently logged in as {{ state.username }} ({{ state.email }}) </p>
    <button ion-button color="danger" [navPush]="LoginPage" (click)="logout()" block>Logout</button>
  </div>
  <div *ngIf="!state.loggedIn">
    <div>
      <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input type="text" [(ngModel)]="username" value=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
    </div>

    <div padding>
      <button ion-button color="secondary" (click)="login()" block>Login</button>
    </div>
      
  </div>

</ion-content>
