<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="state.loggedIn">
    <p>You are currently logged in as {{ state.username }} ({{ state.email }}) </p>
    <button ion-button color="danger" [navPush]="LoginPage" (click)="logout()" block>Logout</button>
  </div>
  <div *ngIf="!state.loggedIn">
    <div>
      <ion-item>
        <ion-label primary>Username</ion-label>
        <ion-input type="text" placeholder="Your username from {{ simpleUrl(common.SERVER_ADDRESS) }} (case sensitive)" [(ngModel)]="username" value=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label primary>Password</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>

      <div *ngIf="expertMode">
        <ion-item>
          <ion-label primary>Server address</ion-label>
          <ion-input type="text" [(ngModel)]="candidateAddress"></ion-input>
        </ion-item>
        <div padding>
          <button ion-button color="secondary" (click)="updateServerUrl()" block>Change</button>
        </div>
      </div>
    </div>

    <div padding>
      <button ion-button (press)="expertMode=true;" color="secondary" (click)="login()" block>Login</button>
    </div>

  </div>

</ion-content>
