<ion-header>

  <ion-navbar>
    <ion-title>Room Manager</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div *ngFor="let role of roles">
    <!-- TODO on press open actions menu -->
    <!-- <ion-card (click)="moveToRole(role.name)"> -->
    <ion-card (press)="presentActions(role)">
      <ion-card-header>
        {{ role.name }}
      </ion-card-header>

      <ion-card-content>
        <!-- Add card content here! -->
        <ion-list>
          <button ion-item *ngFor="let user of role.users" (click)="evictUser(user, role.name)">
            <ion-icon name="person" item-start></ion-icon>
            {{ user.username }}
          </button>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>

  <button ion-button color="secondary" (click)="updateRoles()">Update Roles</button>
  <button ion-button color="secondary" (click)="updateFriendList()">Update Friends List</button>

  <p>Friends List</p>
  <ion-list>
    <ion-item *ngFor="let friend of friends" (click)="inviteGuest(friend)">
      {{ friend }}
    </ion-item>
  </ion-list>

</ion-content>
