page-tabs {
  .focusMode {

    .tabbar {
      display: none;
    }

    .scroll-content {
      // FIXME there should be a better way..
      // make a more specific target
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      padding: 0 !important;
    }

  }
}
