page-editor {
  #editor { // snap iframe
    width: 100%;
    height: 100%;
    visibility: hidden;
    // margin-left: -$content-padding;
    // margin-right: -$content-padding;
  }

  [ion-fixed] {
    height: 100%;
    width: 100%;
  }

  iframe {
    border: 0;
  }

  ion-content div.scroll-content {
    padding: $content-padding 0;
  }

}

ion-footer button.bar-button {
  margin: 0 1.8rem;
}

@media all and (orientation: portrait){

  ion-app:not(.platform-tablet) {

    ion-loading.desktopViewWidth .loading-wrapper {
      padding: 2 * $loading-md-padding-top;
      max-width: 2 * $loading-md-max-width;
      .loading-content {
        font-size: 3rem;
      }
    }

    page-editor ion-fab {
      button.fab {
        width: 2*$fab-size;
        height: 2*$fab-size;
        font-size: 3rem;
        ion-icon {
          font-size: $fab-size;
        }
      }

      // $fab-list-margin
      ion-fab-list {
        button.fab.fab-in-list {
          transform: scale(0.7);
        }
      }

      .fab-close-active .fab-close-icon {
        display: none;
      }

      // listeners fablist
      #listeners {
        ion-fab-list  {
          // probably should be adjusted dynamically
          width: 70vw;
        }

        ion-fab-list[side=right] {
          margin-left: 12rem;
        }

      }

    }

    // toolbar starts
    $toolbar-height: 10rem;

    ion-footer {
      min-height: $toolbar-height;
      z-index: 1000;
      ion-toolbar {
        min-height: $toolbar-height;
      }

      button.bar-button {
        font-size: 4rem;
      }
    }

    .fixed-content {
      // margin-bottom: $toolbar-height;
    }


  } // end of not-tablet media query

}
