<ion-header *ngIf="!state.view.focusMode">

  <ion-navbar>
    <ion-title>{{ project.name }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <!-- TODO directly load snap canvas -->
  <!-- <iframe id="editor" name="editor" [src]="project.url | safe"></iframe> -->
  <iframe id="editor" name="editor"></iframe>
  <ion-fab bottom right>
    <button ion-fab (click)="openRoom()"><ion-icon name="git-network"></ion-icon></button>
  </ion-fab>

  <ion-fab *ngIf="keyListeners.length > 0" left bottom>
    <button ion-fab color="light"><ion-icon name="arrow-dropright"></ion-icon></button>
    <ion-fab-list side="right">
      <button *ngFor="let key of keyListeners" (click)="simulateKeyPress(key.value)" ion-fab>
        <ion-icon *ngIf="key.icon; else label" name="{{ key.icon }}"></ion-icon>
        <ng-template #label>{{ key.label }}</ng-template>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
