page-editor {
  #editor {
    width: 100%;
    height: 100%;
    visibility: hidden;
    // margin-left: -$content-padding;
    // margin-right: -$content-padding;
  }

  ion-content div.scroll-content {
    padding: $content-padding 0;
  }

  ion-fab {
    button.fab {
      width: 2*$fab-size;
      height: 2*$fab-size;
      ion-icon {
        font-size: $fab-size;
      }
    }
  }
}
