page-editor {
  #editor { // snap iframe
    width: 100%;
    height: 100%;
    visibility: hidden;
    // margin-left: -$content-padding;
    // margin-right: -$content-padding;
  }

  iframe {
    border: 0;
  }

  ion-content div.scroll-content {
    padding: $content-padding 0;
  }

}

@media all and (orientation: portrait){

  ion-loading.desktopViewWidth .loading-wrapper {
    padding: 2 * $loading-md-padding-top;
    max-width: 2 * $loading-md-max-width;
    .loading-content {
      font-size: 3rem;
    }
  }

  page-editor ion-fab {
    button.fab {
      width: 2*$fab-size;
      height: 2*$fab-size;
      font-size: 3rem;
      ion-icon {
        font-size: $fab-size;
      }
    }

    ion-fab-list  {
      // probably should be adjusted dynamically
      width: 70vw;
      button.fab.fab-in-list {
        transform: scale(0.7);
      }
    }

    ion-fab-list[side=right] {
      margin-left: 12rem;
    }

    .fab-close-active .fab-close-icon {
      display: none;
    }

  }

}
