<ion-content>
  <div ion-fixed>
    <iframe id="editor" name="editor"></iframe>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons start *ngIf="keyListeners.length > 0">
      <button *ngFor="let key of keyListeners" (click)="simulateKeyPress(key.value)" ion-button>
        <ion-icon *ngIf="key.icon; else label" name="{{ key.icon }}"></ion-icon>
        <ng-template #label>{{ key.label }}</ng-template>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="openRoom()">
        <ion-icon name="people"></ion-icon>
      </button>
      <button ion-button icon-only color="secondary" (click)="sendStart()">
        <ion-icon name="play"></ion-icon>
      </button>
      <button ion-button icon-only color="danger" (click)="sendStop()">
        <ion-icon name="square"></ion-icon>
      </button>
      <!-- <button ion-button icon-only> -->
      <!--   <ion-icon name="more"></ion-icon> -->
      <!-- </button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
