<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1 (click)="showServer()">NetsBlox</h1>
  <p>NetsBlox is a visual programming language and cloud-based environment that enables novice programmers to create networked programs such as multi-player games. Its visual notation is based on Scratch and it uses the open source JavaScript code base of Snap! NetsBlox opens up the internet with its vast array of public domain scientific and other data sources making it possible to create STEM projects, such as displaying seismic activity anywhere on Earth using an interactive Google Maps background. Similarly, weather, air pollution, and many other data sources such as the Open Movie Database and the Sloan Digital Sky Server are available. NetsBlox supports collaborative program editing similar to how Google Docs work.</p>
  <hr>
  <button *ngIf="!state.loggedIn" ion-button color="secondary" [navPush]="LoginPage" block>Login</button>
  <div *ngIf="state.loggedIn">
    <button ion-button color="default" [navPush]="LoginPage" block>View Profile</button>
  </div>

</ion-content>
