<ion-header>

  <ion-navbar>
    <ion-title>Projects</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-searchbar placeholder="Filter projects.."
    showCancelButton color="danger"
    (ionInput)="filterItems($event)"
    (ionCancel)="loadUserProjects($event)">
  </ion-searchbar>


  <div *ngIf="!state.loggedIn">
    <p>Public Projects..</p>
  </div>
  <!-- show a list of projects -->
  <ion-list *ngIf="state.loggedIn">
    <ion-item *ngFor="let project of projects" (click)="itemSelected(project)">
      <ion-thumbnail item-start>
        <img src="{{ project.thumbnail }}">
      </ion-thumbnail>
      <h2>{{ project.name }}</h2>
      <p>{{ project.description }}</p>
    </ion-item>
  </ion-list>
</ion-content>
